@import "bower_components/cells-sass/main";

:host {
  @apply(--molecule-card);
}

$card-font: normal 0.8em 'Open Sans', sans-serif;
//Colors
$light-gray: #ccc;
$dark-gray: black;
$card-accent-color-dark: #999;
$card-accent-color: #C5C5C5;

.main-wrapper{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:0;
  padding:0;
  background-color: $light-gray;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(255,255,255,.3) 3px, rgba(255,255,255,.5) 6px);
  .cards-container{
    height: auto;
    margin: 0 auto;
    .card{
      height: 250px;
      width:150px;
      font: $card-font;
      background: white;
      border-radius: 5px;
      position:relative;
      box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.3);
      overflow:hidden;
      margin: 5px;
      &:after{
        content:"";
        height:0;
        width:0;
        border-left: 50px solid transparent;
        border-right: 20px solid transparent;
        border-top: 60px solid $card-accent-color;
        display: block;
        position:absolute;
        top:0;
        right:-20px;
        text-align:center;
      }
      .card-icon{
        width:30px;
        height:30px;
        background: $card-accent-color;
        color: white;
        padding:10px;
        margin: 20px 0 10px 0;
        text-align:center;
        border-radius:50%;
      }
      .card-title{
        font-size:1.3em;
        color: $dark-gray;
        margin-bottom:10px;
      }
      .card-info, card-date{
        margin: 0 0 10px 0;
        color: $card-accent-color-dark;
      }
      card-date{
        font-size:.7em;
        font-style: italic;
      }
      .card-level{
        position:absolute;
        top:10px;
        right:5px;
        z-index:2;
        font-weight:bold;
      }
    }
  }
}
 