<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="molecule-card-styles.html">

<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">

<!--
`<molecule-card>` description.

Example:

```html
<molecule-card></molecule-card>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --molecule-card-scope      | scope description | default value  |
| --molecule-card  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="molecule-card">
  <template>
	<div class="layout horizontal center main-wrapper justified">
	  <div class="cards-container layout horizontal">
	    <div class="card layout vertical center">
	      <iron-icon icon="icons:polymer" class="card-icon"></iron-icon>
	      <h3 class="card-title">Visual Design</h3>
	      <p class="card-info">Technique</p>
	      <card-date>Asignada el 09/09/2016</card-date>
	      <span class="card-level">x10</span>
	    </div>
	  </div>
	</div>
    <content></content>
  </template>
  <script src="molecule-card.js"></script>
</dom-module>
